.dropdown-menu {
  padding: 0;
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
  cursor: default;
}

.dropdown-item {
  cursor: default;
}

.form-signin {
  width: 500px;
}

#record_split {
  padding-top: 4px;
}
